Take input a test csv file and for simplicity ignoring the null values and dropping duplicates

In [ ]:
import pandas as pd
df = pd.read_csv('test.csv')
df = df.drop_duplicates()
df = df.dropna()

In [ ]:
for col in df.columns:
    if df[col].dtype == 'object':
        try:
            df[col] = pd.to_datetime(df[col])
        except ValueError:
            pass

df.dtypes

Now the data is loaded and the columns with datetime data have been seperated with the dtype as "**datetime64[ns]**"

In [ ]:
count=0
column_name=[]
for i in df.columns:
  if df[col].dtypes == 'datetime64[ns]':
    column_name.append(i)
    count=count+1
print('Total number of date time column is equal to '+str(count))

Now we have counted the total number of columns if count is more than one then we can do whatever operation we want to perform 
Here we want to find the diff between the datetime dtype taking two at a time

In [ ]:
if count==1:
  pass
else:
  for i in range(1,count+1):
    df['Date_time_'+str(i)]=data[column_name[i-1]]-data[column_name[i]]

Above written is the step wise code for better understanding,Now writing a function which will do the complete above operation

In [ ]:
import pandas as pd
df = pd.read_csv('test.csv')
df = df.drop_duplicates()
df = df.dropna()
def date_operation(df):
  for col in df.columns:
    if df[col].dtype == 'object':
        try:
            df[col] = pd.to_datetime(df[col])
        except ValueError:
            pass
  count=0
  column_name=[]#list for column names of Datetime dtype
  for i in df.columns:
    if df[col].dtypes == 'datetime64[ns]':
      column_name.append(i)
      count=count+1
  print('Total number of date time column is equal to '+str(count))
  if count==1:
    pass
  else:
    for i in range(1,count+1):
      df['Date_time_'+str(i)]=data[column_name[i-1]]-data[column_name[i]]
  return df